<goa-one-column-layout>
  <section slot="header">
    <goa-microsite-header
      type="beta"
      version="Angular 1.0"
      feedbackUrl="https://github.com/GovAlta/ui-components/issues/new/choose">
    </goa-microsite-header>
    <goa-app-header url="/" heading="Design system templates" maxContentWidth="100%">
    </goa-app-header>
  </section>

  <goa-page-block width="904px">
    <router-outlet></router-outlet>
  </goa-page-block>

  <section slot="footer">
 
  </section>
</goa-one-column-layout>
